.login{
  margin:auto;
  background-color:white;
  height:60%;
  width:30%;
  padding-top:85px;

}
.center{
  display:flex;
  justify-content: center;
  margin-top: 15px;
}
input{
  padding-left:15px;
  background-color: #f5f5f5;
  border:none;
  width:70%;
  height:50px;
}
.btn-login{
  background-color:#60a830;
  color:white;
  border:none;
  width:70%;
  height:50px;
}
.register{
  position:relative;
  width:70%;
  height:10%;
  margin: 1em auto auto 15%;
  text-align: center;
}
span{
  color:grey;
  margin-right:3px;
}
a{
  color:#60a830;
  cursor:pointer;
}
